/*
    Práctica 13: Menús Verticales y Horizontales
*/

*{
    box-sizing: border-box;
    margin: 0px;
}

#boton{
    background: #31384a;
    color: #fff;
    padding: 20px;
}

#boton:hover {
    cursor: pointer;
}

.header-10-sub .background {
    background-image: url("../img/img-1.jpg"); 
    opacity: 1;
    filter: alpha(opacity=100);
}
.background {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: 50% 50% no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.h2{
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

footer
{
    margin-top:160px;
    width:100%;
    height:280px;
    background-color:#43f29a;
}

footer .sociales{
    background: #43f29a;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 10px;
}

footer .sociales a{
    font-size: 35px;
    color: #fff;
    transition: all .5s ease;
}

footer .sociales .facebook:hover{
    transform: scale(1.3,1.3);
    color:#3b5998;
}

footer .sociales .googleplus:hover{
    transform: scale(1.3,1.3);
    color:#db4733;
}

footer .sociales .instagram:hover{
    transform: scale(1.3,1.3);
    color:#d62976;
}

footer .sociales .youtube:hover{
    transform: scale(1.3,1.3);
    color:#de0000;
}

body {
    background: #85D4B7;
    font-family: 'Roboto', sans-serif;
    line-height: 43px;

}

nav {
  color: #fff;
  background-color: #43f29a ;
  width: 100%;
  font-size: 18px;
}

.item {
    display: block;
    width: 100%;
    height: 650px;
}
.item img {
    height: 100%;
    width: 100%;
}

img {
    border: 0;
    display: block;
    margin: 20px auto;
    max-width: 100%;
  }

hr{
    color: #FFFFFF;
}

p{
    font-size:18px;
}
.right{
    float: right;
    width: 20%;
    font-family: 'Roboto', sans-serif;
}

.fuenteA{
    font-style: 'Roboto';
    font-size: 35px;
}

.fuenteB{
    font-style: 'Roboto';
    font-size: 25px;
}
.menuH{
    overflow: hidden;
    border: none;
}

.menuV{
    float: left;
    width: 26%;
    overflow: hidden;
    border: 5px double;
}

.center {
    display: block;
    height: 05%;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* menuV hace referencia a un menú vertical*/
.menuV a{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
}

.menuV a:hover{
    background-color: white;
    color: black;
}

/* menuH hace referencia a un menú horizontal*/
.menuH a{
    background-color: #55db98;
    color: white;
    text-decoration: none;
    float: left;
    width: 20%;
    text-align: center;
    padding: 10px;
}

.menuH a:hover{
    background-color: #59b788;
    color: white;
}

/* CAROUSEL */
#myCarousel{
	width: 100%;
	height: auto;
    display: inline-block;
    border:none;
    padding: 10px;
}
#container-rescate{
	width: 100%;
    min-width: 300px;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	line-height: 18px;
}

/* MEDIA CELULAR */

@media screen and (max-width: 450px) {
	body {
		padding-top: 80px;
	}

	.menuH {
		margin: 0;
		width: 100%;
		position: fixed;
		top: 0;
		z-index: 1000;
	}

	.btn-menu {
		display: block;
	}

	.contenedor-menu .menu {
		display: none;
	}
}
