<html>
    <head>
        <title>Gatos</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Lista de Usuarios</a></h1>
        </div>

        {% for adoptante in adoptantes %}
            <div>
                <p>adoptante: {{ adoptante.rut_adop }}</p>
                <h1><a href="">{{ adoptante.nomb_adoptante }}</a></h1>
                <p>apellido: {{adoptante.apaterno_adoptante}}</p>
                <p>correo: {{adoptante.correo_adoptante}}</p>
                <p>edad: {{adoptante.edad_adoptante}}</p>
                <p>telefono: {{adoptante.tel_adoptante}}</p>
            </div>
        {% endfor %}
    </body>
</html>
